RewriteEngine On

# Redirect index.html to HOMEPAGE
RewriteRule ^index\.html$ /HOMEPAGE [R=301,L]

# Handle product pages
RewriteRule ^product-detail\.html\?product=([^&]+)$ /$1 [R=301,L]

# Internally serve product pages
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)$ /product-detail.html?product=$1 [L,QSA]